/Clase Libro/nbproject/private/
/Clase Libro/build/
/Tarea POO 2210 Galvan Quiroz/nbproject/private/
/Tarea Cuenta Habiente Galvan Q/nbproject/private/
/Tarea Cuenta Habiente Galvan Q/build/
/Ejemplo/nbproject/private/
/JavaBasico2210v02/nbproject/private/
/JavaBasico2210v02/build/
/InterfacesUsuario2210/nbproject/private/
/InterfacesUsuario2210/build/
